# 서버 설정
server:
  port: 8080

# 데이터 소스 설정
spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem://localhost/~/test
    username: sa
    password:
    
# JPA 설정
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
      use-new-id-generator-mappings: false
    properties[hibernate.format_sql]: true

## sql 문 자동실행
  sql:
    init:
      mode: always